.top {
	width: 100%;
	height: 35px;
	background: #f8f8f8;
	border-bottom: 1px solid #dcdcdc;
}

.top_left {
	width: 500px;
	float: left;
}

.welcome {
	height: 35px;
	line-height: 35px;
	color: #666;
}

.labelStyle {
	text-align: right;
	margin: 20px 0 30px;
	align: center;
}
.labelFont{
	font-size:16px;
	font-family: 微软雅黑;
}

.invalid {
	color: red;
	text-align: left;
}

body {
	text-align: center;
	align: center;
}

.regTitle {
	margin: 15px;
	font-size: 20px;
	color: red;
}

.updateInfoLabel {
	text-align: right;
	margin: 5px 0 10px;
	align: left;
}

.updateDiv {
	margin-bottom: 10px;
}


input.error {
	border: 1px solid red;
	color: red;
}

label.error {
	color: red;
}
select.error{
	border: 1px solid red;
	color: red;
}
.register_header_style {
	width: 100% F;
	height: 60px;
	background: #2e70c1;
}

.reg_text {
	font-size: 26px;
	font-family: 微软雅黑;
	padding-top: 20px;
	color: #fff;
	height: 30px;
	line-height: 20px;
	text-align:center;
}
.reg_form_control{
	margin-bottom:90px;
}
.login_form{
	height:100px;
}