.top {
	width: 100%;
	height: 35px;
	background: #f8f8f8;
	border-bottom: 1px solid #dcdcdc;
}

.top_left {
	width: 500px;
	float: left;
}

.welcome {
	height: 35px;
	line-height: 35px;
	color: #666;
}

.labelStyle {
	text-align: right;
	margin: 20px 0 30px;
	align: center;
}

.labelFont {
	font-size: 16px;
	font-family: 微软雅黑;
}

.invalid {
	color: red;
	text-align: left;
}

body {
	text-align: center;
	align: center;
	font-family: 微软雅黑;
}

.regTitle {
	margin: 15px;
	font-size: 20px;
	color: red;
}

.updateInfoLabel {
	text-align: right;
	margin: 5px 0 10px;
	align: left;
}

.updateDiv {
	margin-bottom: 10px;
}

input.error {
	border: 1px solid red;
	color: red;
}

label.error {
	color: red;
}

select.error {
	border: 1px solid red;
	color: red;
}

.register_header_style {
	width: 100% F;
	height: 60px;
	background: #2e70c1;
}

.reg_text {
	font-size: 26px;
	font-family: 微软雅黑;
	padding-top: 20px;
	color: #fff;
	height: 30px;
	line-height: 20px;
	text-align: center;
}

.reg_form_control {
	margin-bottom: 90px;
}

.login_form {
	height: 100px;
}

.td_style {
	background-color: #eef;
}

.talent {
	border: 1px solid #ebebeb;
	margin: 5px 0px;
	float: left;
	width: 100%;
}

.search_talent_list {
	border-bottom: 1px solid #e4e4e4;
}

.search_talent_list_font {
	color: #a4a4a4;
	width: 500px;
	margin: 5px 0 5px 30px;
}

.disc_talent {
	font-size: 20px;
	color: #1369c0;
}

.disc_talent_mes {
	padding-left: 30px;
	padding-top: 5px;
}

.disc_talent_time {
	float: right;
	color: #9d9999;
	font-size: 14px;
	margin-right: 10px;
	margin-top: -20px;
}

.disc_talent_detail {
	color: #c9c9ca;
	display: block;
	float: left;
	margin: 0 0 5px 30px;
}

.search_talent_list_box {
	display: inline-block;
	color: #666;
	line-height: 30px;
}

.search_talent_list_box_line {
	padding: 0px 10px;
	color: #c9c9ca;
}

.search_talent_list_box_em {
	color: #666;
	font-style: normal;
}

.fl {
	float: left;
}

.filter_box {
	border: 1px solid #ebebeb;
	height: auto;
	width: 100%;
}

.clear {
	clear: both;
}

.disc_job_pay {
	float: right;
	background: url("../../images/disc_icon9.png") no-repeat 4px 2px;
	color: #ff7300;
	font-size: 16px;
	margin: 0px 10px 0 20px;
	padding-left: 20px;
}

.interview_btn {
	width: 85px;
	height: 25px;
	line-height: 25px;
	border: none;
	background: #456dab;
	color: #fff;
	cursor: pointer;
	font-family: 微软雅黑;
	display: inline-block
}

.interview_btn_align {
	text-align: right;
	margin-right: 20px;
}

.disc_search {
	float: right;
	display: block;
	font-size: 13px;
}

.Search_text {
	width: 154px;
	height: 26px;
	line-height: 28px;
	color: #333;
	font-size: 12px;
	text-indent: 10px;
	border: 1px solid #e5e5e5;
	float: left;
	font-family: 微软雅黑;
	margin-top: 5px;
}

.Search_submit {
	width: 42px;
	height: 28px;
	line-height: 28px;
	background: #1369c0;
	border: none;
	cursor: pointer;
	color: #fff;
	float: left;
	margin-top: 4px;
}
.a_grey{
	color:#505050;
}

