@CHARSET "UTF-8";
#filter {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	display: block;
	padding-bottom: 20px;
}

#filter dl {
	clear: both;
	border-bottom: 1px solid #ebebeb;
}

#filter dl dt {
	float: left;
	width: auto;
	height: 14px;
	padding: 0 0 4px 0;
	font-weight: bold;
	color: #333333;
	margin: 10px 0 5px 0;
	font-size: larger;
}

#filter dl dd {
	float: left;
	width: auto;
	padding: 0;
	color: #005AA0;
	margin: 10px 8px 5px 0;
}

#filter a {
	cursor: pointer;
	font-size: larger;
}

.seling {
	background-color: #005AA0;
	color: #FFFFFF;
}

.seled {
	background-color: #005AA0;
	color: #FFFFFF;
}