<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jspRecruitment</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyRegServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.CompanyRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyRegServlet</servlet-name>
    <url-pattern>/CompanyRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCompanyInfoServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.UpdateCompanyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompanyInfoServlet</servlet-name>
    <url-pattern>/UpdateCompanyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PubJobServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.PubJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PubJobServlet</servlet-name>
    <url-pattern>/PubJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateJobServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.UpdateJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobServlet</servlet-name>
    <url-pattern>/UpdateJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComapnyChangePasswordServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.ComapnyChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComapnyChangePasswordServlet</servlet-name>
    <url-pattern>/ComapnyChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteJobServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.DeleteJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobServlet</servlet-name>
    <url-pattern>/DeleteJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobInterviewServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.JobInterviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobInterviewServlet</servlet-name>
    <url-pattern>/JobInterviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceivedResumeServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.ReceivedResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceivedResumeServlet</servlet-name>
    <url-pattern>/ReceivedResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefuseApplyServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.RefuseApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuseApplyServlet</servlet-name>
    <url-pattern>/RefuseApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteInterviewInfoServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.company.DeleteInterviewInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInterviewInfoServlet</servlet-name>
    <url-pattern>/DeleteInterviewInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobseekerRegServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.jobseeker.JobseekerRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobseekerRegServlet</servlet-name>
    <url-pattern>/JobseekerRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobseekerChangePasswordServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.jobseeker.JobseekerChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobseekerChangePasswordServlet</servlet-name>
    <url-pattern>/JobseekerChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuildResumeServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.jobseeker.BuildResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildResumeServlet</servlet-name>
    <url-pattern>/BuildResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyJobServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.jobseeker.ApplyJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyJobServlet</servlet-name>
    <url-pattern>/ApplyJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteApplyInfoServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.jobseeker.DeleteApplyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteApplyInfoServlet</servlet-name>
    <url-pattern>/DeleteApplyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>jsprecruitment.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>